.point-wrapper {
    background: var(--glossy-grape);
    padding: 40px 32px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h3 {color: var(--alabaster);}

.point-form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.pointform input {
    width: 100%;
    font-family: var(--body-font);
    font-size: 12pt;
    letter-spacing: 0.5pt;
    color: var(--dark-charcoal);
    padding: 8px 16px;
    border: 1px solid var(--dark-charcoal);
}

.pointform input,
.before,
#get-points:checked ~ .after {border-radius: 8px;}

.pointform input:focus {outline: solid 2px var(--dark-charcoal);}

.point-form::placeholder {color: var(--dark-charcoal);}

.before,
.after {
    background: var(--dark-charcoal);
    margin-top: 8px;
    padding: 9px;
}

.check-icon {font-size: 18pt;}

.after {padding: 5px;}

#get-points:checked ~ .after {display: inline-block;}

#get-points,
.after,
#get-points:checked ~ .before {display: none;}

.before:hover,
.after:hover {cursor: pointer;}

img[src="images/kids.jpg"] {filter: saturate(80%);}

img[src="images/teachers.jpg"] {filter: saturate(120%);}