
/* HEADER */

header {background: none;}

.header-wrapper {
    margin: 0;
    display: inline;
    background: inherit;
    padding: inherit;
}

.logo-wrapper {position: relative;}

.logo-wrapper img {
    object-fit: cover;
    overflow: hidden;
    min-height: 280px;
    filter: brightness(80%);
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo a {
    flex-direction: column;
    text-align: center;
    min-width: 314px;
}

.science-icon {
    font-size: 45pt;
    color: var(--alabaster);
}

h1 {
    font-size: 32pt;
    line-height: 36pt;
    color: var(--alabaster);
    margin: 0;
}


/* OPENING HOURS & VISIT */

.visit-link {display: none;}

.visit-wrapper,
.open-container,
.entrance-container {
    display: flex;
    flex-direction: column;
}

.visit-wrapper {
    align-items: center;
    text-align: center;
    margin: 24px 0 32px 0;
    gap: 24px;
}

.open-container,
.entrance-container {gap: 4px;}

.card.hide {display: none;}


/* EXPLORE */

.explore-wrapper {
    background: var(--metallic-seaweed);
    border-radius: 20px;
    padding: 32px;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    box-shadow: var(--box-shadow);
}

.explore-wrapper h2,
.explore-wrapper p {
    color: #ffffff;
}


/* BUTTONS */

.visit-wrapper .btn {
    width: 186px;
    background: var(--dark-charcoal);
}

.btn {background: var(--metallic-seaweed);}

.btn:hover {background: var(--metallic-seaweed-hover);}

.btn-exp {
    background: var(--alabaster);
    color: var(--dark-charcoal);
    width: 70%;
    text-align: center;
    margin-top: 8px;
}

.btn-exp:hover {background: var(--alabaster-hover);}