header {
    margin: 0;
}

.header-wrapper {
    position: relative;
}

.header-wrapper img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: brightness(80%);
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 10%;
    text-align: center;
}

.science-icon {
    font-size: 40pt;
    color: var(--alabaster);
}

h1 {
    font-size: 32pt;
    line-height: 36pt;
    color: var(--alabaster);
    letter-spacing: 2pt;
    margin: 0;
}

.visit-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 24px 0;
}

.featured-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 24px;
}

.featured {
    display: flex;
    flex-direction: column;
}

.featured img {
    width: 100%;
}

.btn-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}