@media only screen and (min-width: 600px) {

    /* EXPLORE */

    .explore-wrapper h2,
    .btn-exp {width: 270px;}

    .explore-wrapper p {width: 400px;}

}

@media only screen and (min-width: 950px) {

    /* HEADER */

    .science-icon {font-size: 50pt;}

    h1 {
        font-size: 40pt;
        line-height: 44pt;
        margin: 0;
    }

    .logo-wrapper img {height: 500px;}
    
    .logo-wrapper {grid-area: logo;}
    .menu {grid-area: nav;}

    .header-wrapper {
        max-width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        "nav"
        "logo";
        gap: 0;
        padding: 0;
    }


    /* NAV */

    .hamnav {
        justify-content: flex-end;
        height: 117px;
        padding: 0 40px;
        max-width: 1300px;
        margin: 0 auto;
    }

    .hamitems.large a,
    .hamitems.small a {width: auto;}


    /* OPENING HOURS & VISIT */

    .entrance-container,
    .visit-btn {display: none;}

    .visit-link {display: inline;}

    .open-container {
        flex-direction: row;
        gap: 8px;
    }

    .hello {height: 80px;}

    .visit-wrapper {
        position: absolute;
        left: 0;
        width: 100%;
        margin-top: -4px;
        flex-direction: row;
        background: var(--metallic-seaweed);
        justify-content: center;
        padding: 16px 0;
        gap: 24px;
    }

    .visit-wrapper h2,
    .visit-wrapper p,
    .visit-link {
        font-family: var(--body-font);
        font-size: 12pt;
        color: var(--alabaster);
        line-height: 1;
        letter-spacing: 0.5pt;
    }

    .visit-wrapper h2,
    .visit-wrapper p {font-weight: 600;}


    /* CARDS */

    .card.hide {display: flex;}

    .exhibitions .card-wrapper {grid-template-columns: 1fr 1fr 1fr;}

    .card-content {min-height: 250px;}

    .blogposts .card-content {min-height: 200px;}
}

@media only screen and (min-width: 1300px) {

    .logo-wrapper img {height: 600px;}
}