
@media only screen and (min-width: 450px) {

    /* VISIT */

    .opening-hours,
    .location {
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .about-info h2 {align-self: center;}
}

@media only screen and (min-width: 600px) {

    /* GLOBAL STYLES */

    main {padding: 0 40px;}


    /* HEADER */

    .header-wrapper {padding: 16px 40px;}

    .closed,
    .open {right: 40px;}


    /* CARDS */

    .card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card {height: 100%;}

    .card-content {
        gap: 0;
        justify-content: space-between;
        min-height: 220px;
    }


    /* BOOKING FORM */

    form {gap: 16px;}

    .input-wrapper {flex-direction: row;}

    select,
    input,
    textarea {
        width: 80%;
        min-width: 275px;
    }

    select,
    input {max-height: 40px;}

    label {
        width: 100%;
        align-self: flex-start;
        text-align: left;
    }

    select,
    input,
    textarea,
    ::placeholder {text-align: left;}


    /* EXPLORE - GET POINTS */

    .point-form input {width: 100%;}

    .point-wrapper p,
    .point-form {width: 65%;}


    /* FOOTER */

    footer {margin-top: 80px;}
}


@media only screen and (min-width: 950px) {

    /* GLOBAL STYLES */

    .header-wrapper,
    main,
    .footer-wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    header a:focus {outline: solid 3px var(--alabaster);}


    /* FONTS */

    h1 {font-size: 32pt;}

    h2 {font-size: 24pt;}

    h3 {font-size: 18pt;}

    .logo-name {font-size: 20pt;}

    .bold,
    p,
    a,
    select,
    input,
    textarea,
    label {font-size: 13pt;}

    .location p {font-size: 11pt;}

    .hamitems.large a,
    .hamitems.small a {
        color: var(--alabaster);
        font-size: 13pt;
        letter-spacing: 1.5pt;
        line-height: normal;
    }

    .hamitems.large #active,
    .hamitems.small #active,
    .hamitems a:hover {
        color: var(--alabaster);
        font-size: 20pt;
        text-decoration: none;
    }

    .footer-head {font-size: 18pt;}


    /* HEADER */

    .science-icon {font-size: 55pt;}

    
    /* NAV */

    #closed {display: none;}

    .menu {background: var(--dark-charcoal);}

    .hamnav {
        display: flex;
        align-self: flex-end;
        padding: 18px 0;
    }

    .hamnav,
    .hamitems.large,
    .hamitems.small {gap: 20px;}

    .hamitems {
        flex-direction: row;
        align-items: center;
    }

    .hamitems.large,
    .hamitems.small {text-align: center;}

    
    /* POSTS */

    .explore-main .post-wrapper,
    .getinvolved-main .post-wrapper,
    .exhibition-main .post-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .explore-main .post-wrapper {
        grid-template-areas: 
        'k t r'
        'k p p';
    }
    .kids {grid-area: k;}
    .teachers {grid-area: t;}
    .researchers {grid-area: r;}
    .point-wrapper {grid-area: p;}

    
    .getinvolved-main .post-wrapper {
        grid-template-areas: 
        'd v i';
    }
    .donate {grid-area: d;}
    .volunteer {grid-area: v;}
    .internship {grid-area: i;}

    
    .exhibition-main .post-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'e-1 e-2';
    }
    .exhibit-1 {grid-area: e-1;}
    .exhibit-2 {grid-area: e-2;}

    .explore-main .content-wrapper,
    .getinvolved-main .content-wrapper,
    .exhibition-main .content-wrapper {height: 100%;}


    /* EXPLORE - GET POINTS */

    .explore-main img {
        object-fit: inherit;
        overflow: inherit;
    }

    .point-wrapper,
    .point-wrapper p,
    .point-form {width: 100%;}

    .point-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 32px;
        grid-template-areas: 
        'e h'
        'p f';
    }
    .einstein {grid-area: e;}
    .point-wrapper h3 {grid-area: h;}
    .point-wrapper p {grid-area: p;}
    .point-form {grid-area: f;}

    .einstein {
        width: 40px;
        justify-self: center;
    }

    .einstein,
    .point-wrapper h3 {align-self: flex-end;}

    .point-wrapper p,
    .point-form {align-self: flex-start;}

    .after {padding: 6.5px;}


    /* VISIT */

    .about-wrapper,
    .form-wrapper {margin-bottom: 64px;}

    .about-info h2 {align-self: flex-start;}

    .opening-hours,
    .location {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .about-info {
        flex-direction: row;
        gap: 96px;
        margin: 0 auto;
    }

    .hidden {display: inline;}

    .information-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 64px;
        row-gap: 40px;
    }
    
    .hide {display: none;}

    .top {
        grid-column-start: 1;
        grid-column-end: span 3;
        text-align: center;
    }

    .info-section-h {
        flex-direction: column;
        gap: 16px;
    }
    
    .info-section .material-icons-outlined {
        font-size: 48pt;
        color: var(--metallic-seaweed);
    }

    .info-section {
        align-items: center;
        text-align: center;
    }


    /* CONFIRMATION */

    .confirmation-wrapper {margin-bottom: 96px;}


    /* FOOTER */

    footer {margin-top: 100px;}

    .footer-wrapper {
        padding: 80px;
        padding-bottom: 120px;
    }



    .footer-section.one {grid-area: f-one;}
    .footer-section.two {grid-area: f-two; align-self: end;}
    .footer-section.three {grid-area: f-three;}
    .footer-section.four {grid-area: f-four; align-self: end;}

    .footer-wrapper {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        grid-template-rows: 1fr 1fr 1.5fr;
        grid-template-areas:
        "f-three f-one"
        "f-three f-two"
        "f-four f-two";
        gap: 16px;
    }
}


@media only screen and (min-width: 1137px) {

    /* FORMS */

    textarea {max-height: 40px;}
}

@media only screen and (min-width: 1300px) {

    /* FONTS */

}