
@media only screen and (min-width: 600px) {

    main {padding: 0 40px;}


    /* FORMS */

    form {gap: 16px;}

    .input-wrapper {flex-direction: row;}

    select,
    input,
    textarea {
        width: 80%;
        min-width: 275px;
    }

    select,
    input {max-height: 40px;}

    label {
        width: 100%;
        align-self: flex-start;
        text-align: left;
    }

    select,
    input,
    textarea,
    ::placeholder {text-align: left;}


    /* POINT FORM */

    .point-form {
        gap: 8px;
        background: none;
        border: none;
        padding: 0;
        margin-bottom: 0;
    }

    .point-form input {width: 100%;}

    .point-form ::placeholder {text-align: left;}

    .point-form .check-icon {
        font-size: 18pt;
        color: var(--alabaster);
    }
    }

    @media only screen and (min-width: 950px) {

    main {
        max-width: 1300px;
        margin: 0 auto;
    }


    /* FONTS */

    h1 {
        font-size: 30pt;
        margin-bottom: 32px;
    }

    h2 {font-size: 24pt;}

    h3 {font-size: 20pt;}

    p,
    a {font-size: 14pt;}

    .bold {
        font-size: 14pt;
        letter-spacing: 1pt;
    }


    /* HEADER */

    .logo {width: 100%;}

    header {
        gap: 4px;
        padding: 8px 40px;
    }

    
    /* NAV */

    .menu-icon {display: none;}

    .hamnav {
        display: flex;
        align-self: flex-end;
        background: var(--dark-charcoal);
        padding: 10px 0;
        gap: 24px;
    }

    .hamitems {
        flex-direction: row;
        align-items: center;
    }

    .hamitems.large,
    .hamitems.small {
        gap: 24px;
        text-align: center;
    }

    .hamitems.large a,
    .hamitems.small a {
        color: var(--alabaster);
        font-size: 13pt;
        letter-spacing: 1.5pt;
    }

    .hamitems.large #active,
    .hamitems.small #active,
    .hamitems a:hover {
        color: var(--alabaster);
        font-size: 22pt;
        text-decoration: none;
    }


    /* FOOTER */

    .footer-wrapper {
        max-width: 1300px;
        margin: 0 auto;
        padding: 80px;
        padding-bottom: 120px;
    }

    .footer-head {font-size: 18pt;}

    .footer-section.one {grid-area: f-one;}
    .footer-section.two {grid-area: f-two; align-self: end;}
    .footer-section.three {grid-area: f-three;}
    .footer-section.four {grid-area: f-four; align-self: end;}

    .footer-wrapper {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        grid-template-rows: 1fr 1fr 1.5fr;
        grid-template-areas:
        "f-three f-one"
        "f-three f-two"
        "f-four f-two";
        gap: 16px;
    }
}


@media only screen and (min-width: 973px) {

    /* FORMS */

    textarea {max-height: 40px;}
}