:root {
    --dark-charcoal: #333333;
    --charcoal: #666666;
    --english-violet: #333366;
    --glossy-grape: #a493bd;
    --alabaster: #f2f2e9;
    --metallic-seaweed: #207c95;
    --black: #000000;
    --box-shadow: #3a3a3d30;
    --header-font: "Monomaniac One";
    --body-font: "Open Sans", sans-serif, Verdana, Geneva, Tahoma;
}

@font-face {
    font-family: "Monomaniac One";
    src: url("../fonts/monomaniac-one-regular-webfont.woff2") format("woff2"),
         url("../fonts/monomaniac-one-regular-webfont.woff") format("woff");
}

* {box-sizing: border-box;}

body {
    width: 100vw;
    margin: 0;
}

main {
    margin: 0 32px;
}

h1,
h2,
h3 {
    font-family: var(--header-font);
    color: var(--dark-charcoal);
    line-height: normal;
}

h1 {
    font-size: 24pt;
    letter-spacing: 2pt;
}

h2 {
    font-size: 20pt;
    letter-spacing: 1pt;
}

h3 {
    font-size: 16pt;
    letter-spacing: 0.5pt;
}

p {
    font-family: var(--body-font);
    font-size: 12pt;
    line-height: 1.5;
    color: var(--dark-charcoal);
}

.bold {
    font-family: var(--header-font);
    font-size: 12pt;
    line-height: normal;
    letter-spacing: 0.5pt;
}

a {
    font-family: var(--body-font);
    text-decoration: none;
}

.btn {
    font-family: var(--body-font);
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 1pt;
    color: var(--alabaster);
    padding: 10px 24px;
    background: var(--metallic-seaweed);
    border-radius: 0 8px;
    box-shadow: var(--box-shadow);
}