/* GLOBAL STYLES */

:root {
    --dark-charcoal: #333333;
    --charcoal: #666666;
    --english-violet: #333366;
    --glossy-grape: #a493bd;
    --alabaster: #f2f2e9;
    --metallic-seaweed: #207c95;
    --black: #000000;
    --box-shadow: 1px 1px 6px #33333380;
    --header-font: "Monomaniac One";
    --body-font: "Open Sans", sans-serif, Verdana, Geneva, Tahoma;
}

* {box-sizing: border-box;}

body {
    width: 100vw;
    margin: 0;
}

main {
    margin: 0 24px;
}



/* FONTS */

@font-face {
    font-family: "Monomaniac One";
    src: url("../fonts/monomaniac-one-regular-webfont.woff2") format("woff2"),
         url("../fonts/monomaniac-one-regular-webfont.woff") format("woff");
}

h1,
h2,
h3,
.hamitems.small a,
.hamitems.large a,
p,
.bold,
a {
    margin: 0;
}

h1,
h2,
h3,
.bold,
.hamitems.small a,
.hamitems.large a,
.logo-name,
.footer-head {
    font-family: var(--header-font);
    color: var(--dark-charcoal);
    font-weight: normal;
}

h1,
.hamitems.large a {
    font-size: 24pt;
    letter-spacing: 2pt;
}

h1 {margin: 24px 0;}

h2,
.hamitems.small a {
    font-size: 20pt;
    letter-spacing: 1pt;
}

h3 {
    font-size: 16pt;
    letter-spacing: 0.5pt;
}

p,
a {
    font-family: var(--body-font);
    font-size: 12pt;
    line-height: 1.5;
}

p {color: var(--black);}

a {color: var(--dark-charcoal);}

.bold {
    font-size: 12pt;
    letter-spacing: 0.5pt;
}

a {text-decoration: none;}



/* HEADER */

header {
    background: var(--dark-charcoal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
}

.logo a {
    display: flex;
    gap: 8px;
    align-items: center;
}

.science-icon {
    font-size: 40pt;
    color: var(--alabaster);
}

.logo-name {
    font-size: 16pt;
    letter-spacing: 1px;
    color: var(--alabaster);
}



/* NAV */

.menu-icon {
    font-size: 32px;
    color: var(--alabaster);
}

.menu-icon:hover {cursor: pointer;}

.hamnav {display: none;}

#hamburger {display: none;}

#hamburger:checked ~ .hamnav,
.hamitems {
    display: flex;
    flex-direction: column;
}

#hamburger:checked ~ .hamnav {
    position: absolute;
    top: 96px;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #f2f2e999;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    padding: 8% 20%;
    gap: 80px;
    z-index: 1000;
}

.hamitems.large,
.hamitems.small {gap: 40px;}

#active {
    color: var(--metallic-seaweed);
    text-decoration: underline 3px var(--metallic-seaweed);
}

.hamitems.large #active {font-size: 32pt;}

.hamitems.small #active {font-size: 28pt;}



/* BREADCRUMB NAV */

.breaditems {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 0;
}

.breaditems li {
    font-family: var(--body-font);
    font-size: 12pt;
}

.index {text-transform: uppercase;}

.current {font-weight: bold;}



/* BUTTONS & LINKS */

.btn,
.link {
    font-family: var(--body-font);
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 1pt;
}

.btn {
    text-align: center;
    color: var(--alabaster);
    padding: 8px;
    display: inline-block;
    border-radius: 0 8px;
    box-shadow: var(--box-shadow);
    transition: all .8s ease;
}

.link {color: var(--dark-charcoal);}

.link-area {align-self: flex-end;}

.blog .link,
.arrow-icon {color: var(--english-violet);}

.arrow-icon {font-size: 16pt;}

.blog .link-area {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.card-content .btn-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.btn-book,
.btn-read {width: 100%;}

.btn-book {background: var(--english-violet);}

.btn-read {background: var(--glossy-grape);}



/* CARD */

.card-wrapper,
.card,
.card-content,
.card-details {
    display: flex;
    flex-direction: column;
}

.card-wrapper {
    row-gap: 24px;
    align-items: center;
    margin-bottom: 56px;
}

.card {
    background: var(--alabaster);
    transition: all 0.5s ease;
}

.card:hover {transform: scale(1.02);}

.card img {
    width: 100%;
}

.card-content {
    gap: 16px;
    padding: 16px;
}

.card-details {gap: 4px;}

img[src="images/blogpost_1.jpg"] {
    filter: saturate(60%);
    z-index: 100;
}



/* FOOTER */

footer,
.footer-section {
    display: flex;
    flex-direction: column;
}


footer {
    background: var(--dark-charcoal);
    gap: 40px;
    padding: 48px;
    margin-top: 56px;
}

.footer-section {gap: 6px;}

.footer-head {
    font-size: 14pt;
    letter-spacing: 2px;
    color: var(--alabaster);
    text-transform: uppercase;
    line-height: 2;
}

footer p,
footer a {
    color: var(--alabaster);
    letter-spacing: 0.5px;
}

footer a:hover {text-decoration: underline 1.5px var(--alabaster);}